* {
  margin: 0;
  padding: 0;
  font-size: calc(8px + 0.4vw);
  font-family: Montserrat;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

@font-face {
  font-family: Monserrat;
  src: url(../fonts/montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Mulish;
  src: url(../fonts/mulish/static/Mulish-Regular.ttf);
}
.container {
  max-width: 100rem;
  margin: 0 auto;
}

.row {
  max-width: 92rem;
  margin: 0 auto;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #596c72;
}

h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #596c72;
}

h4 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #596c72;
}

h5 {
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 500;
  color: #353535;
}

button {
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 700;
  color: #353535;
}

a {
  font-family: Montserrat;
  font-size: 1.16rem;
  font-weight: 400;
  color: #353535;
}

p {
  font-family: Mulish;
  font-size: 1.16rem;
  font-weight: 400;
  color: #353535;
}

.navup .container {
  background-color: #FFC01F;
  height: 3rem;
}
.navup .container .row {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
}
.navup .container .row .icons {
  display: flex;
  gap: 1rem;
}

.navdown .container {
  position: relative;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid rgba(121, 121, 106, 0.129);
}
.navdown .container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}
.navdown .container .row .links {
  display: flex;
  gap: 3.5rem;
}

.agir .container {
  position: relative;
}
.agir .container .row {
  display: flex;
  margin-top: 5rem;
}
.agir .container .row .col1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
.agir .container .row .col1 p {
  width: 37rem;
}
.agir .container .row .col1 button {
  text-align: left;
  border: 1px solid #353535;
  border-radius: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 4rem;
}
.agir .container .row .col1 button:hover {
  background-color: green;
  color: white;
}
.agir .container .row .col2 {
  width: 50%;
}
.agir .container .row .col2 img {
  width: 90%;
  height: 100%;
}
.agir .container .col3 {
  position: absolute;
  top: -30rem;
  z-index: -1;
}

.category {
  margin-top: 6rem;
}
.category .container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.category .container .row {
  display: flex;
  margin: 0 0 6rem 5rem;
  gap: 4rem;
}
.category .container .row .card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  border-radius: 1rem;
  box-shadow: 1px 1px 25px 1px rgb(121, 121, 106);
}
.category .container .row .card img {
  width: 100%;
}
.category .container .row .card h4 {
  padding: 3rem 0;
}
.category .container .img {
  position: absolute;
  top: -2rem;
  left: -3rem;
  z-index: -1;
}

.mega .container .row {
  display: flex;
  position: relative;
}
.mega .container .row .col1 {
  width: 40%;
}
.mega .container .row .col1 .img {
  position: relative;
  left: -1rem;
}
.mega .container .row .col1 .img1 {
  position: absolute;
  top: 15.5rem;
  left: 3.5rem;
  z-index: 1;
  border: 1px solid white;
  background-color: #fff;
  padding: 1rem;
  width: 30rem;
  height: 45rem;
}
.mega .container .row .col2 {
  width: 60%;
}
.mega .container .row .col2 img {
  width: 90%;
}/*# sourceMappingURL=style.css.map */